@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #efeee5;
  --secondary: #274546;
  --action: #f99a49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
